* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
}

/* MUSIC FIXED TOP RIGHT */
.music {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.audio {
  width: 180px;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

/* TEXT */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  max-width: 900px;
  line-height: 1.6;
}

/* COLORS */
.highlight {
  color: #ff4d6d;
}
.special h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.4;
  text-shadow: 0 0 15px rgba(255,255,255,0.15);
}
.section.special h2 {
  font-size: 3.2rem !important;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.4;

  color: #ff7ad9;

  text-shadow:
    0 0 10px rgba(255,122,217,0.5),
    0 0 25px rgba(255,122,217,0.25),
    0 0 45px rgba(255,122,217,0.12);
}
.overlay {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.overlay h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
.music {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;

  opacity: 0.5;
  transition: 0.3s;
}

.music:hover {
  opacity: 1;
}

.audio {
  width: 140px;
}
